/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* End of the CSS Reset */

button{
  cursor: pointer;
  border: none;
  outline: none;
  transition: transform .3s, opacity .3s;
}section{
  margin-top: 5em;
}
/* button:hover, button:focus{
  transform: scale(0.95);
  opacity: 80%;
} */

nav{
  display: flex;
  justify-content: space-between;
  padding: 3em 1.5em;
  align-items: center;
}
#nav--button{
  outline: none;
  border: none;
  background-color: transparent;
}#nav--button:hover, #nav--button:focus{
  transform: scale(0.95);
  opacity: 80%;
}#mobile-nav{
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(37, 43, 70, 0.95);
  padding: 3em 2em;
  z-index: 3;
  display: none;
}.mobile{
  width: 100%;
}.mobile span{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}.mobile ul{
  list-style: none;
  padding: 0;
}.mobile li{
  color: #fff;
  text-transform: uppercase;
  padding: 1em 0;
  border-top: 1px solid #9194a1;
}.mobile a{
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-size: 1rem;
  display: block;
}.mobile a:hover, .mobile a:focus{
  color: #5368df;
}#closemobilenav{
  width: inherit;
  border: none;
  outline: none;
}#closemobilenav:hover, #closemobilenav:focus{
  background-color: inherit;
  transform: scale(0.9);
  opacity: 80%;
}
.mobile button{
  width: 100%;
  outline: none;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  border-radius: 5px;
  padding: .5em 0;
  transition: .3s;
}.mobile button:hover,.mobile button:focus{
  color: #5368df;
  background-color: #fff;
}.outlier{
  display: flex;
  list-style: none;
  padding: 0%;
  width: 40%;
  max-width: 100px;
  justify-content: space-between;
  align-items: center;
}.outlier a:hover img, .outlier a:focus img{
  filter: invert(52%) sepia(60%) saturate(7031%) hue-rotate(221deg) brightness(95%) contrast(83%);
}

.bluecurve-bg{
  position: relative;
  margin-bottom: 2em;
}.img-container{
  width: 90%;
  margin: 0 auto;
}#illustration-img{
  transform: scaleX(-1);
  width: 85%;
  margin-bottom: 5em;
}

.bluecurve-bg::after{
  content: '';
  position: absolute;
  top: 21%;
  width: 80%;
  height: 80%;
  background-color: #5368df;
  border-bottom-right-radius: 40%;
  right: 0;
  z-index: -1;
  transform: scaleX(-1);
}

article{
  width: 90%;
  margin: 2em auto;
}article h1, article h2{
  color: #252b46;
}article h1{
  font-weight: 500;
  font-size: 1.5rem;
}article p{
  color: #9194a1;
  padding: 0 .5em;
  margin: 1em 0;
  font-size: .9rem;
}article h2{
  font-size: 1.3rem;
  font-weight: 500;
}

#header-buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5em;
}#header-buttons button{
  width: 48%;
  padding: 1em .5em;
  border-radius: 5px;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: min(.9rem, 80%);
  background-color: #5368df;
  color: #fff;
  transition: .3s;
}#header-buttons button:last-of-type{
  background: transparent;
  color: #9194a1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}#header-buttons button:hover, #header-buttons button:focus{
  color: #5368df;
  border: 1px solid #5368df;
  background-color: transparent;
}#header-buttons button:last-of-type:hover, #header-buttons button:last-of-type:focus{
  color: #9194a1;
  border-color: #9194a1;
}

#illustration-buttons{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 2em 0 4em;
}#illustration-buttons button{
  position: relative;
  width: 95%;
  padding: 1em 0;
  color: #9194a1;
  background-color: transparent;
  border-top: 1px solid #9194a1;
}#illustration-buttons button:hover{
  color: #fa5757;
}.illustration-btn--active{
  color: #252b46 !important;
}

.illustration-btn--active::after{
  content: '';
  position: absolute;
  width: 50%;
  height: 3px;
  bottom: 0;
  background-color: #fa5757;
  left: 25%;
}
#illustrationBtn3{
  border-bottom: 1px solid #9194a1;
}#outlier2::after{
  height: 100%;
}.illustration-btn{
  width: 45%;
  background-color: #5368df;
  color: #fff;
  border-radius: 5px;
  padding: .8em 0;
  margin-bottom: 2em;
  font-size: .8rem;
}.illustration-btn:hover, .illustration-btn:focus{
  transform: scale(0.95);
  opacity: 80%;
}

.browser-cards{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em auto;
  border-radius: 8px;
  box-shadow:  0px 5px 5px rgba(0, 0, 0, 0.1);
  padding: 1em 0;
}.browser-cards div{
  margin: 1.5em 0;
}.browser-cards h3{
  color: #252b46;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.5;
}.browser-cards p{
  font-size: 1rem;
  color: #9194a1;
  margin-bottom: 1.5em;
}.browser-cards button{
  width: 85%;
  margin: 1em 0 0;
  border-radius: 5px;
  padding: .9em 0;
  background-color: #5368df;
  color: #fff;
  font-size: .9rem;
  font-weight: 500;
  border: 1px solid transparent;
  transition: .3s;
}.browser-cards button:hover, .browser-cards button:focus{
  color: #5368df;
  background-color: transparent;
  border: 1px solid #5368df;
}
#faq-accordion{
  list-style: none;
  padding: 0%;
  margin-bottom: 2em;
}#faq-accordion li{
  width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid #9194a1;
}#faq-accordion button{
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 1em 0;
  color: #252b46;
  font-size: min(.95rem, 4.5vw);
  background-color: transparent;
}#faq-accordion button:hover{
  color: #fa5757;
}.accordionbtn--active{
  color: #252b46 !important;
}.accordionbtn--active img{
  transform: rotate(180deg);
  filter: invert(40%) sepia(96%) saturate(1859%) hue-rotate(325deg) brightness(100%) contrast(96%); 
}
.accordion-details{
  display: none;
  margin: .5em 0 1em;
  color: #9194a1;
  text-align: left;
  font-size: min(.9rem, 4.5vw);
}.show{
  display: block;
}

#form-section{
  background-color: #5368df;
  padding: 3em 1.75em 2em;
  color: #fff;
}.formP{
  font-size: .75rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
  margin-bottom: .5em;
}.error-message{
  font-size: .8rem;
  font-style: italic;
  font-weight: 400;
  text-align: left;
  background-color: #fa5757;
  padding: .3em .9em;
  border-radius: 0 0 5px 5px;
  margin-bottom: .5em;
  display: none;
}
#form-section h3{
  font-weight: 500;
  font-size: 1.17rem;
  margin-bottom: 1em;
}.email-input{
  outline: none;
  border: 2px solid #fff;
  width: 100%;
  padding: .5em 1em;
  border-radius: 5px;
}.err-input{
  border-color: #fa5757;
  border-radius: 5px 5px 0 0;
}
#form-section input::placeholder{
  color: #9194a1;
  font-size: .9rem;
}#form-section button{
  width: 100%;
  padding: .8em 0;
  background-color: #fa5757;
  color: #fff;
  border-radius: 5px;
  font-size: .8rem;
  margin: .5em 0 .9em;
  border: 1px solid transparent;
  transition: .3s;
}#form-section button:hover, #form-section button:focus{
  color: #fa5757;
  background-color: #fff;
  border-color: #fa5757;
}
#largeScreenNav{
  display: none;
  list-style: none;
  padding: 0%;
  justify-content: space-between;
  width: 60%;
  text-transform: uppercase;
  font-size: .7rem;
  max-width: 390px;
  align-items: center;
}#largeScreenNav a{
  text-decoration: none;
  color: #252b46;
  letter-spacing: 1.5px;
  transition: .3s;
}#largeScreenNav a:hover, #largeScreenNav a:focus{
  color: #fa5757;
}#largeScreenNav button{
  width: 100%;
  padding: .7em 2.5em;
  color: #fff;
  background-color: #fa5757;
  border: 1px solid transparent;
  font-weight: 500;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: .65rem;
  letter-spacing: 1.5px;
  box-shadow:  0px 5px 5px rgba(0, 0, 0, 0.1);
  transition: .3s;
}#largeScreenNav button:hover, #largeScreenNav button:focus{
  color: #fa5757;
  background-color: #fff;
  border-color: #fa5757;
}

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #252b46;
  color: #fff;
  padding: 1.5em 0;
}

footer ul{
  padding: 0%;
  list-style: none;
}footer a{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 400;
  letter-spacing: 2px;
}footer a:hover, footer a:focus{
  color: #fa5757;
}footer a:hover img, footer a:focus img{
  filter: invert(40%) sepia(96%) saturate(1859%) hue-rotate(320deg) brightness(96%) contrast(100%); 
}

footer li{
  margin: 1.5em 0;
}#outlier3{
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media(min-width: 660px){
  nav{
    width: 90%;
    margin: 0 auto;
  }
  #nav--button{
    display: none;
  }#largeScreenNav{
    display: flex;
  }
  html{
    font-size: 1.2rem;
  }
  header{
    display: flex;
    flex-direction: row-reverse;
  }
  article{
    max-width: 470px;
  }
  .bluecurve-bg{
    width: 50%;
  }.bluecurve-bg::after{
    max-height: 335px;
  }
  .img-article{
    text-align: left;
    width: 40%;
  }.img-article p{
    padding: 0;
  }
  #illustration-article{
    max-width: 700px;
    width: 80%;
  }#illustration-article p{
    width: 75%;
    margin: 1em auto;
  }
  #illustration-buttons{
    flex-direction: row;
    justify-content: space-between;
    font-size: .8rem;
    width: 100%;
  }#illustration-buttons li{
    width: 100%;
    border-bottom: 1px solid #9194a1;
  }#illustration-buttons button{
    border: none;
    width: 100%;
  }.illustration-btn--active::after{
    width: 100%;
    left: 0;
  }#main-illustration{
    display: flex;
  }
}